.container
  = render partial: "shared/side_bar"
  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__group-name
          = @group.name
        .main-header__left-box__group-members
          - @group.users.each do |user|
            = user.name
      .main-header__edit-btn
        Edit
    .messages
      = render partial: "message", collection: @messages
    .form
      = form_for [@group, @message] do |f|
        .form__input-box
          .form__input-box__contents
            = f.text_field :text, class: "form__input-box__contents__text", placeholder: "Type a message"
            .form__input-box__contents__image
              = f.label :image do
                = fa_icon 'image', class: "form__input-box__contents__icon"
                = f.file_field :image, class: "form__input-box__contents__image__select"
        = f.submit "Send", class: "form__submit-btn"